<style type="text/css">.button_partner {
  background-color: #03fc94;
  border: #000000;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<p><a class="button_partner" href="http://staging.web.dartagnan.demandware.net/s/dartagnan/buy/home-delivery-partners/"><b>Congratulations!</b><br />
Here's an additional special hometown offer!
<br />
Click <u>here</u> to shop for<br />
seafood, grains, desserts and more.</a></p>
