<div class='upboldcenterred'><%=@delivery_day%></div><br>

<!-- <p id="message" class="center_bold">
  <%=@message%><br>
</p><br> -->

<img src="/assets/HomeDelivery_LandingPage_5.jpg" alt="Not too late" class="responsive"><br>

<p id="message2" class="center_bold">
  <%=@message2%><br>
</p>

<p><a href="https://www.dartagnan.com">
  <img src="/assets/Shop_Now_ISOLATED.jpg" alt="Shop Now">
</a></p>

<img src="/assets/HomeDelivery_LandingPage_7.jpg" alt="Calendar" class="responsive">

</div>
