<img src="/assets/HomeDelivery_LandingPage_2.PartnerIntro.jpg" alt="Fleet" class="responsive">
<br><br>
<!-- <p><%= link_to (image_tag "/assets/HomeDelivery_PartnerProducts.jpg"), @partners_path, target: "_blank" %></p> -->
