<div class=max_width>
  <p>
    <div style="position: fixed; top: 0px; width: 100%; height: 2em; background-color: white; z-index: 100;">
      <span><a href="#fish", class="btn btn-primary">Fish</a></span>
      <span><a href="#veg", class="btn btn-primary">Vegetables</a></span>
      <span><a href="#desserts", class="btn btn-primary">Desserts</a></span>
    </div>
  </p>

  <img src="/assets/truck.jpg" alt="Truck" class="responsive"><br><br>
  <scan id="fish"></scan><br><br>
  <div class='upboldcenterred'>Fish
  </div>
  <img src="/assets/fish.jpg" alt="Fish" class="responsive"><br><br>
  <scan id="veg"></scan><br><br>
  <div class='upboldcenterred'>Vegetables
  </div>
  <img src="/assets/veg.jpg" alt="Vegetables" class="responsive"><br><br>
  <scan id="desserts"></scan><br><br>
  <div class='upboldcenterred'>Desserts
  </div>
  <img src="/assets/desserts.jpg" alt="Desserts" class="responsive"><br><br>
</div>
